# ignore text editors
.vscode
.idea
.atom

# ignore modules
node_modules

# esling cache file
.eslintcache

# ignore test dir
.test

# macOS file
.DS_Store

# dist files
lib

# checksum file for Circle CI
checksum.txt

# umi
.umi

# docs
docs/dist
